/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8a2e39;
  --ifm-color-primary-dark: #7c2933;
  --ifm-color-primary-darker: #752730;
  --ifm-color-primary-darkest: #612028;
  --ifm-color-primary-light: #98333f;
  --ifm-color-primary-lighter: #9f3542;
  --ifm-color-primary-lightest: #b33c4a;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8a2e39;
  --ifm-color-primary-dark: #7c2933;
  --ifm-color-primary-darker: #752730;
  --ifm-color-primary-darkest: #612028;
  --ifm-color-primary-light: #98333f;
  --ifm-color-primary-lighter: #9f3542;
  --ifm-color-primary-lightest: #b33c4a;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
